header {
    color: white;
    height: 80px;
    background: #4daab6;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    a{padding: 10px;}
    a:hover{
        color:white;
        margin: 10px;
    }
}
